.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
  margin-right: 100px;
  background-color: #333; 
  padding: 20px; 
  border-radius: 10px; 
  margin: 20px;
  max-height: 120px;
}

.button {
  padding: 10px 20px;
  background-color: #007bff;
  margin-right: 5px;
  margin-left: 15px;
  margin-top: 30px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.orderAlphaContainer,
.filterSourceContainer,
.orderDateOfBirthContainer,
.filterByTeamsContainer {
  margin-bottom: 20px; 
}

.orderAlphaContainer label,
.filterSourceContainer label,
.orderDateOfBirthContainer label,
.filterByTeamsContainer label {
  display: block; 
  margin-bottom: 5px; 
  color: white;
  font-size: 20px;
}


.orderAlphaContainer select,
.filterSourceContainer select,
.orderDateOfBirthContainer select,
.filterByTeamsContainer select {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 200px; 
  box-sizing: border-box; 
}

.backGroundImage {
  max-width: 100%;
  height: auto;
  width: 100vw;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -1;
  opacity: 70%;
}

.noDriver {
  display: flex;
  justify-content: center; 
  align-items: center; 
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  padding: 20px; 
  border-radius: 10px; 
  color: red;
  background-color: #fff; 
  margin-bottom: 20px;
}


