.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px;
}

.card {
    width: 100%;
    max-width: 300px;
    margin: 0 10px 20px;
    border-radius: 20px;
    overflow: hidden;
    background: #333;
    line-height: 1.5em;
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    transition: height 0.3s ease-in-out;
    margin-left: 100px;
    height: 100%;
}

.cardContainer a {
    text-decoration: none;
    color: inherit;
}

.deleteButton {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    cursor: pointer;
    margin-left: 250px;
    margin-top: 10px;
    justify-content: space-around;
}

.image {
    width: 300px;
    height: 300px;
    margin-top: 25px;
    object-fit: cover;
}

.name {
    text-decoration: none;
    color: white;
    margin: 0 auto;
    text-align: left;
    padding: 0 10px;
    font-weight: bold;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 0px;
}

.teams {
    color: white;
    margin: 0 auto;
    margin-right: 40px;
    margin-left: 10px;
    margin-top: 0%;
    text-decoration: none;
}