.headerContainer {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  background-color: #333; 
  color: white; 
  padding: 10px; 
  margin-left: -10px; 
  margin-right: -10px; 
  margin-top: -10px;
}

.headerLeft,
.headerMiddle,
.headerRight {
  display: flex; 
  align-items: center; 
}

.headerMiddle {
  flex: 1; 
  margin-left: 100px;
}

.leftHeaderNavigation,
.rightHeaderNavigation {
  display: flex;
  gap: 60px; 
}

.logOutLink{
  margin-right: 50px;
}


.headerSearch {
  display: flex;
  align-items: center;
}

.input{
  margin-top: -10px;
  margin-bottom: -10px;
}

.headerSearch form {
  display: flex;
  align-items: center;
}

.headerSearch input {
  margin-right: 10px; 
}

.leftHeaderNavigation a,
.rightHeaderNavigation a {
  text-decoration: none;
  color: inherit;
}

.logoFormulaUno{
  max-width: 100px;
  margin-left: 50px;
  margin-right: 50px;
}

.button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 5px 5px; 
  font-size: 15px; 
}

